@font-face {
    font-family: "Caviar Dreams";
    src: url("../assets/caviardreams-webfont.woff2") format("woff2"),
         url("../assets/caviardreams-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Great Vibes";
    src: url("../assets/greatvibes-regular-webfont.woff2") format("woff2"),
         url("../assets/greatvibes-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Caviar Dreams";
    color: black;
}

body {
    background-color: #999;
    display: flex;
    
}

.menu-card {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header, footer {
    background-color: #ddd;
    padding: 2em 2em 2em;
}

header h3 {
    margin: 0 0 -0.8em;
    font-weight: normal;
}

header h3, h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 2.67em;
    padding: 0 0 0.5em;
}

.item {
    font-family: "Great Vibes";
    font-size: 1.75em;
    margin: 0 0 -1em;
}

.item + p {
    font-size: 2em;
    font-weight: bold;
}