div {
    width: 150px;
    height: 150px;
    margin: 20px;
    display: inline-block;
    border: 5px solid red;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    background-image: url("../img/bgimage-1.jpg");
}

.div2 {
    background-image: url("../img/bgimage-2.jpg");
}

.div3 {
    background-image: url("../img/bgimage-3.jpg");
}

.div4 {
    background-image: url("../img/bgimage-4.jpg");
}