/* CSS Setup - her ikke noget at gøre med flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(260deg, hsl(103, 98%, 20%) 0%, hsl(165, 98%, 17%) 100%);
}

a {
  color:white;
}

.cover  {
  height:100vh;
  width:100%;
}

/*Video*/

.video {
  height:100%;
  width: 100vw;
  object-fit: cover;
  filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 0%
}

/*Hack to get them to align properly */
.flex-form > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
}

.flex-form {
  z-index: 10;
  position: relative;
  border: 20px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size: 20px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  -webkit-appearance:none;
}

.flex-form > *:last-child {
  border-right: 0;
}

/*Start din flexbox her*/

.form-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-form {
  display: flex;
  min-width: 75em;
}

.flex-form * {
  flex-grow: 1;
}

.search {
  flex-grow: 5;
}

@media (max-width: 75em) {
  .flex-form {
    flex-direction: column;
    min-width: 20em;
  }
}